link to ht.html
*{
				margin: 0;
				padding: 0;
				font-family: Century Gothic;
}
header{
				background-color: ;
				height: 100vh;
				background-size: cover;
				background-posistio:center;		
}
ul{
				float: right;
				list-style-type: none;
				margin-top: 15px;
}
ul li{
				display: inline-block;
}
ul li a{
				text-decoration: none;
				color: #e3ff00;
				padding: 5px 20px;
				border: 1px solid #trancperent;
				transition: 0.6s;
}
ui li a:hover{
				background-color: #fff;
				color: #000;
}
ui li.active a{
				background-color: #fff;
				color: #000;
}
.logo img{
				float: left;
				width: 150px;
				height: auto;
}
.main{
				max-width: 1200px
				margin: auto;
}
.tittle{
				position: absolute;
				top: 50%;
				left: 50%;
				trancferm: translate(+50%,+50%);
}
.tittle h1{
				color: #fff;
				font-size: 70px;
}
.btn{
				position: absolute;
				top: 62%;
				left: 58%;
				trancferm: translate(-50%,-50%);
}
.btm{
					position: absolute;
				top: 62%;
				right: 47%;
				trancferm: translate(-50%,-50%);
}
.btn{
				border: 1px solid #fff;
				padding: 10px 30px;
				color: #fff;
				text-decoration: none;
				transition: 0.6s;
}
.btm{
				border: 1px solid #fff;
				padding: 10px 30px;
				color: #fff;
				text-decoration: none;
				transition: 0.6s;
}
.main .search{
			padding: 6px;
			margin-top: 8px;
			boarder: none;
			font-size: 17px;
}
